{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
    </a>
    <h1>Welcome to Beer Manager App</h1>
    <p>Manage all the beers in the world.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Vutivi/beer-manager-app.git"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <hr>
   <div class="alert alert-info text-center" role="alert">
		Copyright © Beer App 2018. Deployed to Heroku.
  </div>
</div>
{% endblock %}
